.toggle-button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
    padding: 10px 20px;
    background-color: var(--overlay);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}