.col-inner {
  height: 100vh;
  width: calc(100vw / 12 * 2);
  padding: var(--global-padding);
  justify-content: center;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  top: 0;
  border-left: var(--line-weight) solid var(--overlay);
  overflow-wrap: break-word;

}
.col-inner > * {
  padding-right: var(--global-padding);
}

@media screen and (max-width: 400px) {
  .col-inner {
    position: fixed;
    width: 100vw;
    bottom: 0;
    /* height: 200px;
    background-color: var(--background); */
    display: none;
  }
  .col-inner > * {
    height: 200px;
  }
}