.media-block-collection {
  /* background-color: red; */
  height: 800px;
  width: 100%;
}
.media-block-collection > * {
  padding-top: var(--global-padding);
  padding-bottom: var(--global-padding);
}
.video-text {
  width: 50%;
}
.text-block {
  width: 50%;
}
.double-image {
  width: 180px;
}
.single-image {
  width: 480px;
}
.image-block-double {
  box-sizing: border-box;
  width: 480px;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-right: auto;
}
.double-image img {
  min-width: 50%;
  max-width: 100%;
  background-color: red;
}
