.threejs-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -50;
  opacity: var(--opacity);
}
.audio-button {
  background: none;
  color: var(--overlay);
  transition: color 0.3s ease;
  border: none;
  display: flex;
  flex-direction: row;
}
.active-audio {
  animation: active-audio 3s ease-in-out infinite;
}
.audio-button:hover {
  color: var(--overlay);
  cursor: pointer;
}
.audio-controls {
  box-sizing: border-box;
  position: absolute;
  width: 80%;
  height: 90%;
  margin-left: calc(100vw / 12 * 2);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 10px;
}
.point-symbol {
  width: 0.3rem;
  height: 0.3rem;
  margin: 0.3rem;
  border-radius: 0.5rem;
  background-color: var(--overlay);
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes active-audio {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes stop-audio {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .audio-controls {
    width: 75vw;
    height: 85vh;
    /* margin-top: 10vh; */
    margin-left: 0;
  }
}
