.threejs-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -50;
    opacity: var(--opacity);
}
.audio-button {
    background: none;
    border: none;
}
.audio-button:hover {
    cursor: pointer;
    opacity: 0.5;
}
