.project-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.hero-image {
  width: 100%;
  height: 367px;
}
.hero-image img {
  min-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.media-image {
  width: 100%;
  height: fit-content;
}
.media-image img {
  min-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-summary {
  text-align: right;
  width: calc(100vw / 12 * 6);
  margin-left: auto;
}
.p1 {
  font-size: 1rem;
  line-height: 1.3rem;
  width: 53%;
  margin-left: 4rem;
}
.imgBlock1 {
  box-sizing: border-box;
  width: 480px;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-left: auto;
}
.imgBlock1 > * {
  min-width: 50%;
  max-width: 100%;
}
.p2 {
  width: 50%;
  margin-left: 6rem;
}

.img-txt-block {
  display: flex;
  flex-direction: row;
  gap: var(--global-padding);
}

.p4 {
  width: 50%;
  margin-right: 6rem;
}
.imgBlock2 {
  box-sizing: border-box;
  width: 480px;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-right: auto;
}
.imgBlock2 > * {
  min-width: 50%;
  max-width: 100%;
}
.p3 {
  width: auto;
  max-width: 50%;
  padding-left: 0%;
  margin-left: auto;
}
.fruit-wrap {
  height: 400vh;
  padding-bottom: 2rem;
}

.fruit-wrap > * {
  padding-top: var(--global-padding);
  padding-bottom: var(--global-padding);
}
