.sidebar-col {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.nav-inner {
  width: calc(100vw / 12 * 2);
  border-right: 1px solid var(--overlay);
  padding: var(--global-padding);
  box-sizing: border-box;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  font-size: 1rem;
  line-height: 1rem;
}
.nav-inner > * {
  height: 40%;
  width: 100%;
}
.nav-inner .hover-content {
  display: none;
  position: absolute;
}
.nav-inner .nav-item {
  position: relative;
}

.nav-inner a:hover + .hover-content,
.nav-inner .hover-content:hover {
  display: block;
  margin-left: var(--global-padding);
}

.nav-inner ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
}

.hover-content ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 4px 0;
  margin-left: -9.2px;
}
.nav-inner ul li {
  /* margin: 0.5rem 0; */
  list-style-type: none;
}
.nav-inner ul li a {
  text-decoration: none;
  color: var(--active);
  list-style-type: none;
}

.nav-inner ul li a:hover {
  text-decoration: underline;
}
.active-link {
  color: var(--active);
}
.active-link:hover {
  color: var(--active);
}
.logo {
  width: 150px;
  position: fixed;
  z-index: 51;
  top: var(--global-padding);
  left: var(--global-padding);
}
.hidden {
  display: none;
}
.mobile-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200px;
  /* background-color: red; */
}
.hover-content-mobile {
  position: absolute;
  width: fit-content;
  padding: var(--global-padding);
  top: 60px;
  left: 70vw;
  z-index: 3000;
  background-color: var(--banner1);
}
.hover-content-mobile ul li a {
  line-height: 1rem;
  color: var(--active);
  list-style-type: none;
}

@media screen and (max-width: 900px) {
  .sidebar-col {
    flex-direction: row;
    height: fit-content;
    justify-content: center;
    margin-top: 80px;
  }
  .nav-inner-mobile {
    width: 80vw;
    height: 68px;
    overflow: visible;
    border: none;
    padding: var(--global-padding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    font-size: 1rem;
    line-height: 1rem;
  }

  /* .hover-content-mobile ul {
    list-style-type: none;
    list-style-position: inside;
    padding: 4px 0;
    margin-left: -5px;
  }
  .nav-inner ul li {
    padding-top: 0.5em;
  } */
  .logo-mobile {
    /* padding-top: var(--global-padding); */
    width: 100px;
  }
}
@media screen and (max-width: 400px) {
  .nav-inner-mobile {
    width: 90vw;
  }
  .nav-inner ul li a:hover {
    text-decoration: none;
  }
  .active-link:hover {
    color: var(--active);
  }
}

.nav-item:active {
  color: var(--active);
}
